body{
   margin: 0;
   padding: 0;
   background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/701eec50-4b87-4dc0-9d00-b0f54025dc36/028e62d2-2a59-4fc3-adaa-a0756a0512b9/IN-en-20220905-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}

.navbar{
   /* position: fixed; */
   display: flex;
   /* background-color: darkseagreen; */
   justify-content: space-between;
   /* align-items: center; */
}

.logo img{
   margin: 28px;
   height: 60px;
   width :175px;
   /* padding: 6px; */
   
}

.nav-items li{
   display: inline-block;
   margin : 8px;
}

/* .banner{
   display: flex;
   justify-content:center;
   color: white;
} */